#tablero{
    width: 90vmin;
    height: auto;    
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(9,10vmin);
    grid-template-rows: repeat(9,10vmin);
    
}
.casilla{
display: grid;
font-size: 7vmin;
text-align: center;
align-items: center;
}
.clara{
    background-color: bisque;
}
.obscura{
    background-color: coral;
}
#mensaje{
    color: red;
}